.mainDiv {
  background-color: orange;
  text-align: center;
  height: 100vh;
  width: 100%vh;
}

.select {
  vertical-align: middle;
}

.margin {
  margin-top: 30;
  margin-bottom: auto;
}

.test {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  ;
}